<!DOCTYPE html>
<html>
<head>
	<title>
    Reddit Reader
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading:{% for title in titles %} {{title}} {% endfor %}  </h3>
  </header>
  <main>
    {% for article in context %}
      <div>
          <h3><a href="{{ article.1 }}" target="_blank">{{ article.0 }}</a></h3>
          <h4>{{ article.2 }} upvotes ·  {{ article.3 }}</h4>
        <hr>
      </div>
    {% endfor %}   
  </main>
</body>
</html>