<!DOCTYPE html>
<html>
<head>
	<title>
    Job Finder
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Job Finder</h1>
    <h3>This is a job finder! The jobs are scraped from SO, WR, RO.</h3>
  </header>
  <main>
    <form action="/search">
      <label for="search">What language do you want to use at work?</label>
      <input type="text" id="search" name= "search" placeholder="Type a language" autofocus>
      <button type="submit">Search</button>
    </form>
  </main>
</body>
</html>
