{% extends 'base.html' %}
{% block content %}
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
  <form method="POST" class="post-form my-3">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field in form %}
      {% if field.errors %}
      <strong>{{ field.label }}</strong>
      {{ field.errors }}
      {% endif %}
    {% endfor %}
    {% endif %}
    {{ form.as_p }}
    <div class="d-flex justify-content-between">
      <a href="{% url 'pybo:index' %}" class="btn btn-primary">뒤로 가기</a>
      <button type="submit" class="btn btn-primary">질문 저장</button>
    </div>
  </form>
{% endblock %}